
.notes {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  padding: 30px 40px;
}

.notes__title {
  font-size: 34px;
  font-weight: bold;

  margin: 0 0 25px 0;
}

.notes__button {
  font-size: 1rem;
  font-weight: bold;

  padding: .6em 1.2em;

  border-radius: 7px;
  background: orange;

  margin: 0 0 25px 0;
}

.notes__form {
  margin: 0 auto 50px auto;
}

.notes-form {
  width: 100%;
  max-width: 540px;
}

.notes-form__title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.notes-form__input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;

  margin: 0 0 5px 0;
}

.notes-form__button {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;

  padding: .6em 1.2em;

  border-radius: 7px;
  background: orange;

  cursor: pointer;
}


.notes__container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  padding: 0 0 55px 0;
}

.note__controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.note__button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;

  &_delete {
    background: red;
    color: white;
  }

  &_commit {
    background: orange;
    color: black;
  }

  &_complete {
    background: green;
  }
}

.notes__show {
  display: block;
  width: fit-content;
  padding: 5px 10px;
  background: none;

  margin: 0 auto 25px auto;
}