.forbidden {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forbidden__container {
  max-width: 1440px;
}

.forbidden__gif {
  max-width: 100%;
  object-fit: cover;
}


.forbidden__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.forbidden__link {
  width: fit-content;

  font-size: 14px;
  font-weight: bold;

  display: block;
  border-radius: 5px;
  background: orange;
  color: white;

  padding: 10px 10px;
  margin: 0 auto;

  position: relative;
  z-index: 4;
  top: -100px;
}
