.form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
  }
  
  .form__title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .form__text {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 125%;
  }
  
  .form__inputs {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  
  .form__input {
    position: relative;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    box-shadow: 0 0 2px #000000;
    padding: 15px 10px 7px;
  
  
    &:not(:placeholder-shown) + .form__label {
      transform: translate(10px, -48px);
      font-size: 12px;
      background-color: white;
      opacity: 1;
    }
  }
  
  .form__label {
    display: block;
    width: fit-content;
    height: 1.2rem;
    font-size: 16px;
  
    position: relative;
    transform: translate(10px, -25px);
    opacity: 0.7;
    cursor: text;
    user-select: none;
  
    transition: transform .5s ease, font-size .3s ease, background-color 0s 0.3s ease;
  }
  
  
  .form__button {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  
    border-radius: 5px;
    background: #F48023;
  
    cursor: pointer;
  
    padding: 10px;
  }
  
  .form__show-pass {
    margin-left: auto;
    width: fit-content;
    text-align: end;
    transform: translate(-10px, -180%);
    font-size: 16px;
    margin-top: -16px;
    background: none;
  
    cursor: pointer;
  }
  
  .form__error {
    color: #ff8282;
    padding: 10px;
  }