
.note {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  padding: 20px;
  position: relative;

  &:not(:last-child) {
    margin: 0 0 25px 0;
  }
}

.note__date {
  color: gray;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.note__title {
  font-size: 24px;
}

.note__completed {
  font-weight: bold;
  margin: 0 0 5px 0;

  &_true {
    color: green;
  }

  &_false {
    color: red;
  }
}

.note__controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.note__button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;

  &_delete {
    background: red;
    color: white;
  }

  &_commit {
    background: orange;
    color: black;
  }
}


.note__input {
  display: block;
  font-size: 20px;
  width: 100%;
  margin: 0 0 10px 0;
}


.spinner {
  width: 70px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner_small {
  width: 40px;
  margin: 0 auto;
  text-align: center;
}

.spinner_small > div {
  width: 9px;
  height: 9px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1,
.spinner_small .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2,
.spinner_small .bounce2 {
  animation-delay: -0.16s;
}


@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}