
.nav {
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 -5px 10px #000000;
  padding: 1rem 2rem;

  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}


.nav__logo {
  font-weight: bold;
  margin-right: auto;
  font-size: 20px;
}

.nav__buttons {
  display: flex;
  gap: 1.2rem;
}

.nav__btn {
  font-size: 1rem;
  font-weight: bold;

  padding: .8em 1.4em;
  display: inline-flex;
  align-items: center;
  gap: 3px;

  border-radius: 10px;

  &:hover {
    opacity: 0.8;
  }
}

.nav__link {
  color: black;
}

.nav__register {
  background: orange;
  color: #ffffff;
}

.nav__login {
  background: #EAEAEA;
  color: #1682FD;
}

.nav__menu {

}

.menu {
  position: relative;
}

.menu__user {

}

.menu__options {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 10px 0;
}

.menu__option {
  background: white;
  width: 100%;

  text-align: end;

  &:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.menu__logout {
  font-size: 16px;
  background: none;
}

.menu__link {
  font-size: 16px;
  color: black;

  &_delete {
    font-weight: bold;
    color: red;
  }
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}


.user__username {
  font-size: 22px;
}

.user__logo {
  width: 1.6em;
  height: 1.6em;

  font-size: 16px;
  background: #c5c5c5;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;

  display: grid;
  place-content: center;
}

